.order {
    background: #ffffff;
    width: 96%;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.orderNumOne {
    width: 54%;
    font-size: 0.9em;
    text-align: left;
}

.orderNumOneState {
    width: 22%;
    text-align: center;
}

.orderNumOneMoney {
    width: 24%;
    text-align: right;
    color: #D81E06;
    font-weight: bold;
    font-size: 1em;
}

.orderTime {
    font-size: 0.8em;
    color: #999999;
    padding: 0.8em 0.4em 1.2em 0;
}

.orderChild {
    color: #d81e06;
    padding-bottom: 0.8em;
}

.orderNumTwo {
    width: 58%;
    text-align: left;
    font-size: 0.8em;
    color: #999999;
    padding: 0.5em 0;
}

.orderNumTwoState {
    width: 16%;
    text-align: center;
    font-size: 0.8em;
    color: #999999;
}

.orderNumTwoMoney {
    width: 26%;
    text-align: right;
    color: #666666;
    font-size: 0.8em;
}

.orderBtnR {
    background: #ffffff;
    border: 1px solid #d81e06 !important;
    color: #d81e06;
}

.orderBtnR.am-button-small {
    font-size: 1em;
    height: 30px;
    line-height: 28px;
    padding: 0 18px;
}

.orderBtnW {
    margin-left: 0.5em;
    border: 1px solid #dcdcdc !important;
}

.orderBtnW.am-button-small {
    font-size: 1em;
    height: 30px;
    line-height: 28px;
    padding: 0 18px;
}

.redState {
    color: #D81E06!important;
}

.orderGoods {
    background: #ffffff;
}

.orderTabs {
    width: 25%;
    text-align: center;
    color: #000000;
    background: #ffffff;
    padding: 1em 0 0.8em 0;
    border-bottom: 2px solid #ffffff;
}

.orderTabsActive {
    color: #d81e06;
    border-bottom: 2px solid #d81e06;
}

.orderBody .am-list-body {
    margin: 0.5em auto;
    border-radius: 5px;
    background: transparent;
}

.orderChildStatus {
    /*background: #f7f7f7;*/
    /*padding: 0.2em 0;*/
}

.orderStatus{
    padding: 1em 0.5em;
    margin-right: 1em;
}

.orderSmall{
    background: #fff8f1;
    padding: 0 0.5em;
    line-height: 3em;
}

.orderNum {
    padding: 1em 0.5em;
    border-bottom: 1px solid #efefef;
}

.orderBtnState {
    box-sizing: border-box;
}

.orderDown {
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.8em solid black;
}

.orderUp {
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-bottom: 0.8em solid black;
}

.orderDeliveryHeader{
    padding: 0 0.5em;
}

.orderFontred{
    color: #d81e06;
}

.sonBorder{
    /*margin-top: 0.5em;*/
    /*border-bottom: 1px solid #e6e6e6;*/
    /*border-top: 1px solid #e6e6e6;*/
}

.orderBody .am-list-body::before{
    height: 0!important;
}

.orderBody .am-list-body::after{
    height: 0!important;
}

.orderBody .am-button::before{
    border: none !important;
}
.orderBody .am-tabs-default-bar-top{
    position: fixed;
    top: 0;
    z-index: 99;
}

.orderBody .am-tabs-default-bar{
    height: 3.2em;
    background: #ffffff;
}